/* There is no need to write <style> tag ,as it is not required here.
   To link the CSS file with HTML page use the <link> tag and write file path or name in href"". */
body{
   background-color: yellow;
}
   h1{
      color: red;
      font-weight: 300;
   }
   p{
      font-size: smaller;
   }
   p.journey{
      color: green;
      font-weight: bold;
   }